html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	
	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	
	display: block;
}

.page-nums a{
	float:left;
	padding-left:15px;
	position:relative;
	
}

.page-nums strong{
	float:left;
	padding-left:15px;
}

body {	line-height: 1; }
ol, ul {	list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}:focus {	outline:none;}

body 		{ font-family: Arial, Helvetica, sans-serif; color:#8b8b8b; font-size:12px; line-height:20px; }
.body-wrapper { width:941px; margin:auto; }
.cb			{ clear:both; 	}
.fleft	{ float:left; 	}
.fright	{ float:right; 	}
h2	{ font-family:"Myriad Pro", helvetica, sans-serif; font-size:16px; line-height:16px; margin-bottom:10px; }
h1	{ font-family:"Myriad Pro", helvetica, sans-serif; font-size:20px; line-height:20px; margin-bottom:20px; color:#555454; }
a:link, a:hover, a:visited { text-decoration:none; color:inherit; }
.red	{ color:red; font-size:11px; line-height:11px; }

.red-button	{ float:left; width:118px; height:32px; background-color:#9b0d0d; color:#fff; cursor:pointer; text-align:center; line-height:32px; margin-right:16px; border:none; }
.gray-button	{ float:left; width:118px; height:32px; background-color:#919191; color:#fff; cursor:pointer; text-align:center; line-height:32px; border:none; }

.step	{ float:left; width:105px; height:26px; background-image:url(img/step-sprite.png); background-repeat:no-repeat; position:relative; margin-right:-8px; }
.step.active/* , .step:hover */	{ background-image:url(img/step-sprite-active.png); }
	.step:nth-child(1) 	{ background-position:0px -78px; width:83px; }
	.step:nth-child(2) 	{ background-position:0px -52px; }
	.step:nth-child(3) 	{ background-position:0px -26px; }
	.step:nth-child(4) 	{ background-position:0px 0px; width:100px; }

#top-gray { width:100%; height:40px; background-image:url(img/bg-top01.png); }
	#account-cart	{ padding:10px 0; color:#ffffff; font-size:11px; }
	#account-cart a, #account-cart a:link, #account-cart a:visited, #account-cart a:hover	{ color:#ffffff; margin:0px 10px; }
		#account-cart a.first	{ margin-left:0px; }
	
	#search-box	{ width:210px; height:30px; background-image:url(img/bg-search-box.png); margin-top:4px; }
		#search-box	input[name='search-input']	{ width:134px; height:14px; padding:7px 13px; font-size:10px; line-height:10px; border:none; background-image:url(img/bg-search-box.png); }
		#search-box	input#search-submit	{ width:50px; height:30px; background-color:transparent; border:none; cursor:pointer; }
	
#top-menu	{ position:relative; z-index:9999; width:100%; height:95px; background-image:url(img/bg-top02.png); background-repeat:repeat-x; background-position:bottom; background-color:#e9e9e9; }
	#logo-block	{ margin-top:25px; }
	#menu-list	{ font-family:"Myriad Pro", helvetica, sans-serif; font-size:14px; color:#686868; margin-top:35px; }
		#menu-list div { float:left; width:auto; }
			#menu-list div.menu:hover, #menu-list div.active { background-image:url(img/menu-arrow.png); background-repeat:no-repeat; background-position:center bottom; height:60px; }
			#menu-list div.menu a { margin:30px; color:#686868; }
			#menu-list div.menu a { margin:30px; color:#686868; }
		/* a:link.menu-item, a:hover.menu-item, a:visited.menu-item { margin:30px; color:#686868; } */
		
		#menu-list #product-pop { position:absolute; z-index:0; margin-left:5px; margin-top:-5px; float:none; display:none; }
			#menu-list #product-pop #product-white { position:relative; z-index:1; width:105px; height:31px; background-color:#fff; border:1px solid #c6c6c6; border-bottom:0px; float:none; }
			#menu-list #product-pop #submenu-container { position:relative; z-index:0; min-width:190px; background-color:#fff; border:1px solid #c6c6c6; margin-top:-1px; float:none; padding:10px 0; }
			#menu-list #product-pop a:link.submenu, #menu-list #product-pop a:visited.submenu	{ width:100%; height:25px; line-height:25px; font-size:12px; }
			#menu-list #product-pop a:hover.submenu, #menu-list #product-pop a.submenu.active { color:#9b0d0d; }

#home-slide-wrapper	{ width:100%; height:321px; z-index:0; position:relative; }
#home-slide-button	{ width:100%; height:46px; margin-top:-6px; position:relative; z-index:1; background-image:url(img/bg-banner-title-bar.png); background-repeat:repeat-x; background-position:0 6px; }
	.home-slide-button-item { float:left; width:20%; height:25px; text-align:center; margin-top:6px; padding-top:15px; font-size:11px; line-height:10px; cursor:pointer; }
	.home-slide-button-item.first	{ background-image:url(img/bg-banner-title-bar-l.png); background-repeat:no-repeat; background-position:left 0px; }
	.home-slide-button-item.last	{ background-image:url(img/bg-banner-title-bar-r.png); background-repeat:no-repeat; background-position:right 0px; }
	a.active .home-slide-button-item, .home-slide-button-item:hover	{  background-image:url(img/bg-banner-title-bar-active.png); position:relative; margin-top:0px; padding-top:21px; background-repeat:no-repeat; color:#fff; }

#home-left-column		{ width:240px; float:left; margin-right:30px; }
#home-right-column	{ width:671px; float:left; }

#have-a-question		{ width:100%; }
	#have-a-question a:link, #have-a-question a:hover, #have-a-question a:visited	{ color:#9b0d0d; }
	
#newsletter { width:100%; }
	#newsletter input[name="newsletter-email"] { width:212px; height:16px; padding:2px 4px; font-size:10px; }
	#newsletter-cpr			{ float:left; width:130px; margin-top:7px; margin-right:10px; }
	#newsletter-submit	{ float:left; width:83px; margin-top:8px; height:29px; background-image:url(img/bt-gray-83x29.png); border:none; color:#fff; font-size:11px; cursor:pointer; }

#distributor{ width:100%; }
	.distributor-item { float:left; width:62px; height:21px; margin-right:20px; margin-bottom:20px; }
		.distributor-item.last { margin-right:0; }
		
#home-product-slide	{ width:100%; }
	#home-product-slide h2	{ margin-top:6px; }
	#home-product-slide-nav	{}
		#home-product-slide-page 	{ float:left; font-size:10px; margin-right:10px; }
		#home-product-slide-arrow { float:left; }
			#home-product-slide-arrow .left, 
				#home-product-slide-arrow .right	{ float:left; margin-left:2px; width:20px; height:20px; background-image:url(img/home-slider-arrow.png); background-repeat:no-repeat; cursor:pointer; }
			
				#home-product-slide-arrow .left		{ background-position:left 0; }
				#home-product-slide-arrow .right	{ background-position:right 0; }
	
	.home-product-slide-item { /* display:none; */ }
		.home-product-slide-item .image { width:391px; margin-left:6px; padding-top:10px; }
			.home-product-slide-item .image-box	{ width:391px; height:411px; border-top:2px solid #a01919; border-bottom:5px solid #a01919; }
			.home-product-slide-item .image-box	.ribbon { padding-top:9px; padding-left:9px; font-size:20px; font-weight:bold; color:#fff; width:53px; height:50px; background-image:url(img/home-product-ribbon.png); position:absolute; margin-top:-10px; margin-left:-6px; }
			.home-product-slide-item .image-box	.big-image { width:329px; height:352px; margin-left:62px; }
	
			.home-product-slide-item .image .image-thumb-wrapper 	{ width:100%; margin-top:15px; }
				.home-product-slide-item .image .image-thumb-item		{ float:left; margin-right:25px; cursor:pointer; border:1px dotted #fff; }
				.home-product-slide-item .image .image-thumb-item:hover	{ border:1px dotted #eee; border-radius:3px; }
			
		.home-product-slide-item .information	{ width:260px; padding-top:10px; }
			.home-product-slide-item .add-to-bag	{ width:90px; height:25px; padding-left:55px; padding-top:4px; background-image:url(img/add-to-bag-icon.png); background-color:#9b0d0d; background-repeat:no-repeat; background-position:left; color:#fff; }
			
			.home-product-slide-item .title	{ font-size:22px; color:#555555; }
			.home-product-slide-item .code	{ font-size:12px; color:#555555; }
			
			.home-product-slide-item .social	{ font-size:12px; color:#555555; }
				.home-product-slide-item .social .tweet	{ margin-top:10px; margin-right:10px; width:54px; height:20px; background-image:url(img/product-tweet-icon.png); cursor:pointer; }
				.home-product-slide-item .social .fb		{ margin-top:10px; width:45px; height:20px; background-image:url(img/product-like-icon.png); cursor:pointer; }
				
			.home-product-slide-item .price	{ color:#555555; }
				.home-product-slide-item .price .title	{ height:28px; padding-top:10px; font-size:12px; border-top:1px solid #bfbdbd; border-bottom:1px solid #bfbdbd; margin-bottom:7px; }
				.home-product-slide-item .price .discount-percent	{ width:100px; font-size:22px; }
				.home-product-slide-item .price .discount-percent .percentage	{ line-height:33px; }
				.home-product-slide-item .price .nett-price				{ width:120px; }
				.home-product-slide-item .price .nett-price .currency	{ float:left; font-size:15px; line-height:33px; }
				.home-product-slide-item .price .nett-price .price1	{ float:left; font-size:33px; line-height:33px; }
				.home-product-slide-item .price .nett-price .price2	{ float:left; font-size:15px; line-height:15px; }
				
#home-product-clearance {}
	#home-product-clearance h2 { margin-top:6px; }
	#home-product-clearance-nav {}
		#home-product-clearance-nav #home-product-clearance-page	{ float:left; font-size:10px; margin-right:10px; }
		#home-product-clearance-nav #home-product-clearance-arrow { float:left; }
			#home-product-clearance-arrow .left, 
				#home-product-clearance-arrow .right	{ float:left; margin-left:2px; width:20px; height:20px; background-image:url(img/home-slider-arrow.png); background-repeat:no-repeat; cursor:pointer; }
			
				#home-product-clearance-arrow .left		{ background-position:left 0; }
				#home-product-clearance-arrow .right	{ background-position:right 0; }
		
	#home-product-clearance-wrapper { width:100%; }
		.home-product-clearance-group { width:100%; }
			.home-product-clearance-item { float:left; width:136px; margin-right:52px; padding:0px 4px; border:1px dotted #fff; border-radius:3px; }
			.home-product-clearance-item:hover	{ border:1px dotted #eee; }
			.home-product-clearance-item.last	{ margin-right:0px; }
				.home-product-clearance-item .image					{ width:131px; height:140px; }
				.home-product-clearance-item .image img					{ max-width:131px; max-height:140px; }
				.home-product-clearance-item .price-original{ font-size:12px; color:#555555; text-decoration: line-through; }
				.home-product-clearance-item .price-nett		{ font-size:15px; color:#555555; }
				.home-product-clearance-item .price-nett .currency	{ float:left; width:auto; font-size:15px; line-height:33px; }
				.home-product-clearance-item .price-nett .price1		{ float:left; width:auto; font-size:33px; line-height:33px; }
				.home-product-clearance-item .price-nett .price2		{ float:left; width:auto; font-size:15px; line-height:15px; }
				.home-product-clearance-item .title					{ font-size:12px; color:#9b0d0d; text-transform:uppercase; }
				.home-product-clearance-item .short-desc		{ font-size:11px; color:#888888; line-height:16px; }
				.home-product-clearance-item .code					{ font-size:11px; color:#555555; text-align:right; }
			
#footer	{ width:100%; background-image:url(img/bg-footer.png); background-repeat:repeat-x; height:150px; background-color:#ececec; }
	#footer-menu 	{ width:auto; margin:auto; text-align:center; }
		.footer-menu-item	{ width:auto; margin:0px 17px; }
		a:link.footer-menu-item, a:hover.footer-menu-item, a:visited.footer-menu-item	{ color:inherit;}
	#footer-cpr 	{ width:auto; text-align:center; margin-top:5px; }


/* MODULES : BREADCRUMB */
#breadcrumb	{}
	#breadcrumb .breadcrumb-item	{ float:left; margin-right:10px; }
	a:link .breadcrumb-item, a:visited .breadcrumb-item	{ color:#555555; }
	a:hover .breadcrumb-item	{ color:#950909; }
	#breadcrumb .breadcrumb-item.first	{ text-transform:uppercase; color:#950909; }
	#breadcrumb .breadcrumb-separator		{ float:left; margin-right:10px; }
	
/* PAGE : PRODUCTS */	
#products-left-column		{ float:left; width:170px; padding-right:40px; }
#products-right-column	{ float:right; width:725px; }


.category-item { padding-left:24px; }
.category-item a:link , .category-item a:visited { color:#8b8b8b; }
.category-item a:hover, .category-item.active a { color:#9b0d0d; }

.accord .title	{ padding-left:21px; background-image:url(img/category-bg.png); background-repeat:no-repeat; background-position:0px 2px; cursor:pointer; }
.accord.active .title	{ background-image:url(img/category-bg2.png); background-position:0px 4px; }

#brand-list	{}
	#brand-list	.title h2 { margin-bottom:5px; }
	#brand-list	.wrapper-list	{ display:none; }

#category-list	{}
	#category-list	.title h2 { margin-bottom:5px; }
	#category-list	.wrapper-list	{ display:none; }

#featured-list	{}
	#featured-list	.title h2 { margin-bottom:5px; }
	#featured-list	.wrapper-list	{ display:none; }

#products-page-nav	{}
	#products-page-nav #sort-by-selection	{}
		#products-page-nav #sort-by-selection .label { float:left; width:auto; margin-top:3px; margin-right:5px; }
		#products-page-nav #sort-by-selection #sort-form { float:left; width:auto; }
		
		#products-page-nav #pagination {}
			#products-page-nav #pagination #showing_items_text 	{ float:left; margin-right:50px; margin-top:1px; }
			#products-page-nav #pagination #page_of_text 				{ float:left; margin-right:20px; margin-top:1px; }
			#products-page-nav #pagination #pagination-nav 			{ float:left; }
				#pagination-nav .left, #pagination-nav .right	{ float:left; margin-left:2px; width:20px; height:20px; background-image:url(img/home-slider-arrow.png); background-repeat:no-repeat; cursor:pointer; }
					#pagination-nav .left		{ background-position:left 0; }
					#pagination-nav .right	{ background-position:right 0; }

.products-onepage-group { width:100%; }
			.product-item { float:left; width:136px; margin-right:47px; padding:0px 4px; border:1px dotted #fff; border-radius:3px; }
			.product-item:hover	{ border:1px dotted #eee; }
			.product-item.last	{ margin-right:0px; }
				.product-item .image					{ width:131px; height:140px; }
				.product-item .image img					{ max-width:131px; max-height:140px; }
				.product-item .price-original{ font-size:12px; color:#555555; text-decoration: line-through; }
				.product-item .price-nett		{ font-size:15px; color:#555555; }
				.product-item .price-nett .currency	{ float:left; width:auto; font-size:15px; line-height:33px; }
				.product-item .price-nett .price1		{ float:left; width:auto; font-size:25px; line-height:33px; }
				.product-item .price-nett .price2		{ float:left; width:auto; font-size:15px; line-height:15px; }
				.product-item .title					{ font-size:12px; color:#9b0d0d; text-transform:uppercase; }
				.product-item .short-desc		{ font-size:11px; color:#888888; line-height:16px; }
				.product-item .code					{ font-size:11px; color:#555555; text-align:right; }

/* PAGE : PRODUCT DETAIL */
#product-detail .image { width:442px; }
	#product-detail .image-box	{ width:442px; height:411px; border-top:2px solid #a01919; border-bottom:5px solid #a01919; border-left:1px solid #d0d0d0; border-right:1px solid #d0d0d0;  }
	#product-detail .image-box	.ribbon { padding-top:9px; padding-left:9px; font-size:20px; font-weight:bold; color:#fff; width:53px; height:50px; background-image:url(img/home-product-ribbon.png); position:absolute; margin-top:-10px; margin-left:-6px; }
	#product-detail .image-box	.big-image { width:329px; height:352px; margin-left:62px; }

	#product-detail .image .image-thumb-wrapper 	{ width:100%; margin-top:15px; }
		#product-detail .image .image-thumb-item		{ float:left; margin-right:25px; cursor:pointer; border:1px dotted #fff; }
		#product-detail .image .image-thumb-item:hover	{ border:1px dotted #eee; border-radius:3px; }
	
#product-detail .information	{ width:467px; }
	#product-detail .title	{ font-size:22px; color:#555555; text-transform:uppercase; }
	#product-detail .code	{ font-size:12px; color:#555555; }
	
	#product-detail .social	{ font-size:12px; color:#555555; }
		#product-detail .social .tweet	{ margin-top:10px; margin-right:10px; width:54px; height:20px; background-image:url(img/product-tweet-icon.png); cursor:pointer; }
		#product-detail .social .fb		{ margin-top:10px; width:45px; height:20px; background-image:url(img/product-like-icon.png); cursor:pointer; }
		
	#product-detail .price	{ color:#555555; }
		#product-detail .price .title	{ height:28px; padding-top:10px; font-size:12px; border-top:1px solid #bfbdbd; border-bottom:1px solid #bfbdbd; margin-bottom:7px; }
		#product-detail .price .discount-percent	{ width:134px; font-size:22px; }
		#product-detail .price .discount-percent .percentage	{ line-height:33px; }
		#product-detail .price .nett-price				{ width:154px; }
		#product-detail .price .nett-price .currency	{ float:left; font-size:15px; line-height:33px; }
		#product-detail .price .nett-price .price1	{ float:left; font-size:33px; line-height:33px; }
		#product-detail .price .nett-price .price2	{ float:left; font-size:15px; line-height:15px; }
		#product-detail .price .quantity	{ width:179px; font-size:22px; }
		#product-detail .price .quantity .qty	{ line-height:33px; }
	
	#product-detail #out-of-stock {}
		#out-of-stock	.title	{ font-size:14px; color:#9b0d0d; text-transform:none; }
		#out-of-stock	#email-input { width:200px; height:14px; line-height:12px; font-size:12px; padding:7px 10px 7px 10px; margin-right:20px; }
	
#related-product {}
	#related-product-list-wrapper { width:100%; }
		.related-product-item { float:left; width:136px; margin-right:52px; padding:0px 4px; border:1px dotted #fff; border-radius:3px; }
		.related-product-item:hover	{ border:1px dotted #eee; }
		.related-product-item.last	{ margin-right:0px; }
			.related-product-item .image					{ width:131px; height:140px; }
			.related-product-item .image img					{ max-width:131px; max-height:140px; }
			.related-product-item .price-original{ font-size:12px; color:#555555; text-decoration: line-through; }
			.related-product-item .price-nett		{ font-size:15px; color:#555555; }
			.related-product-item .price-nett .currency	{ float:left; width:auto; font-size:15px; line-height:33px; }
			.related-product-item .price-nett .price1		{ float:left; width:auto; font-size:33px; line-height:33px; }
			.related-product-item .price-nett .price2		{ float:left; width:auto; font-size:15px; line-height:15px; }
			.related-product-item .title					{ font-size:12px; color:#9b0d0d; text-transform:uppercase; }
			.related-product-item .short-desc		{ font-size:11px; color:#888888; line-height:16px; }
			.related-product-item .code					{ font-size:11px; color:#555555; text-align:right; }
			
/* PAGE : SHOPPING BAG */
#shopping-bag	{}
	#shopping-bag h1	{ font-family:Arial, helvetica, sans-serif; font-weight:normal; font-size:20px; color:#555454; }
	#shopping-bag table#product-list	{ width:100%; color:#555555; }
		#shopping-bag table#product-list td { border:1px solid #ccc; padding:17px 20px; vertical-align:top; }
		#shopping-bag table#product-list td.title	{ font-size:16px; }
			#shopping-bag table#product-list td .image				{ float:left; width:134px; height:126px; margin-right:25px; overflow:hidden; }
			#shopping-bag table#product-list td .description	{ float:left; width:345px; text-transform:uppercase; }
	
	#shopping-bag #voucher-code, #shopping-bag #total	{ border:1px solid #ccc; padding:17px 20px; width:45%; height:170px; }
		#shopping-bag #voucher-code	input[name="voucher_code"] { width:136px; height:14px; line-height:12px; font-size:12px; padding:7px 10px 7px 10px; margin-right:20px; }		
		#shopping-bag #total	{ text-align: right; }
			#shopping-bag #total {}
	
	#shopping-bag #footnote	{ float:left; width:740px; color:#555555; font-size:11px; }
		
#account	{  }
	#account .col { float:left; width:265px; padding:20px; margin-right:10px; border:1px solid #cfcfcf; color:#555555; }
		#account .col.last { margin-right:0px; }
		
	#account h1, #account h2	{ font-family:Arial, helvetica, sans-serif; font-weight:normal; font-size:20px; color:#555454; }
	#account h2	{ font-family:Arial, helvetica, sans-serif; font-weight:normal; font-size:20px; color:#555454; }
	
	#account #form-signin	{ }
	.col input { margin:5px 0px; }
	
	#account #form-forgotpass, #account #form-register	{ display:none; }
	
	#account .offline-link { text-decoration:underline; cursor:pointer; font-size:11px; }
		#account input[type='text'], #account input[type='password'] { width:196px; height:28px; border:1px solid #d9dadb; }
		
	#account #sub-total	{ text-align:right; font-size:16px; }
			
	#account .image				{ float:left; width:100px; height:126px; margin-right:25px; overflow:hidden; }
	#account .description	{ float:left; width:132px; font-size:11px; }
		#account .description .title { text-transform:uppercase; }
	
	#account #warn	{ background-image:url(img/warning.png); background-repeat:no-repeat; background-position:20px 29px; margin-top:-20px; margin-left:-20px; background-color:#ececec; padding:25px 40px; width:225px; margin-bottom:20px; color:#9b0d0d; }

#delivery-add-address	{}
	#delivery-add-address .col { float:left; width:580px; padding:20px; margin-right:10px; border:1px solid #cfcfcf; color:#555555; }
		#delivery-add-address .col.last { margin-right:0px; width:265px; }
		
	#delivery-add-address h1, #delivery-add-address h2	{ font-family:Arial, helvetica, sans-serif; font-weight:normal; font-size:20px; color:#555454; }
	#delivery-add-address h2	{ font-family:Arial, helvetica, sans-serif; font-weight:normal; font-size:20px; color:#555454; }
	
	.col input { margin:5px 0px; }
	
	#delivery-add-address .offline-link { text-decoration:underline; cursor:pointer; font-size:11px; }
		#delivery-add-address input[type='text'], 
		#delivery-add-address input[type='password'], 
		#delivery-add-address select, 
		#delivery-add-address textarea { 
			width:196px; height:28px; border:1px solid #d9dadb; 
		}
		#delivery-add-address textarea { height:90px; }
		
	#delivery-add-address #sub-total	{ text-align:right; font-size:16px; }
			
	#delivery-add-address .image				{ float:left; width:100px; height:126px; margin-right:25px; overflow:hidden; }
	#delivery-add-address .description	{ float:left; width:132px; font-size:11px; }
		#delivery-add-address .description .title { text-transform:uppercase; }
		

#delivery	{}
	#delivery .col { float:left; width:580px; padding:20px; margin-right:10px; border:1px solid #cfcfcf; color:#555555; }
		#delivery .col.last { margin-right:0px; width:265px; }
		
	#delivery h1, #delivery h2	{ font-family:Arial, helvetica, sans-serif; font-weight:normal; font-size:20px; color:#555454; }
	#delivery h2	{ font-family:Arial, helvetica, sans-serif; font-weight:normal; font-size:20px; color:#555454; }
	
	.col input { margin:5px 0px; }
	
	#delivery .offline-link { text-decoration:underline; cursor:pointer; font-size:11px; }
		#delivery input[type='text'], 
		#delivery input[type='password'], 
		#delivery select, 
		#delivery textarea { 
			width:196px; height:28px; border:1px solid #d9dadb; 
		}
		#delivery textarea { height:90px; }
		
	#delivery #sub-total	{ text-align:right; font-size:16px; }
			
	#delivery .image				{ float:left; width:100px; height:126px; margin-right:25px; overflow:hidden; }
	#delivery .description	{ float:left; width:132px; font-size:11px; }
		#delivery .description .title { text-transform:uppercase; }
	
	#delivery .address-item	{ background-color:#fff; padding:22px 25px; border:1px solid #cccccc; cursor:pointer; }
		#delivery .address-item.active	{ background-color:#9b0d0d; color:#fff; }
		

#payment	{}
	#payment .col { float:left; width:580px; padding:20px; margin-right:10px; border:1px solid #cfcfcf; color:#555555; }
		#payment .col.last { margin-right:0px; width:265px; }
		
	#payment h1, #payment h2	{ font-family:Arial, helvetica, sans-serif; font-weight:normal; font-size:20px; color:#555454; }
	#payment h2	{ font-family:Arial, helvetica, sans-serif; font-weight:normal; font-size:20px; color:#555454; }
	
	.col input { margin:5px 0px; }
	
	#payment .offline-link { text-decoration:underline; cursor:pointer; font-size:11px; }
		#payment input[type='text'], 
		#payment input[type='password'], 
		#payment select, 
		#payment textarea { 
			width:196px; height:28px; border:1px solid #d9dadb; 
		}
		#payment textarea { height:90px; }
		
	#payment #sub-total	{ text-align:right; font-size:16px; }
			
	#payment .image				{ float:left; width:100px; height:126px; margin-right:25px; overflow:hidden; }
	#payment .description	{ float:left; width:132px; font-size:11px; }
		#payment .description .title { text-transform:uppercase; }
		
	#payment input[type='radio']	{ opacity:0; filter:alpha(opacity=0); width:0px; }
		#payment .customradio	{ float:left; width:12px; height:12px; border:1px solid #ccc; margin-top:6px; margin-right:5px; cursor:pointer; }
			#payment .customradio .fill { width:10px; height:10px; margin:1px; background-color:#fff; }
				#payment .customradio.active .fill { background-color:#9b0d0d; }

#thank-you	{ width:100%; color:#555555; }
	#thank-you h2	{ font-family:Arial, helvetia, sans-serif; }
	#thank-you .col	{ float:left; width:455px; }
		#thank-you .col .title	{ font-size:20px; line-height:30px; }
		#thank-you .col .bodytext	{ height:100px; line-height:20px; }
		

#contact	{ width:100%; color:#555555; }
	#contact h2	{ font-family:Arial, helvetia, sans-serif; }
	#contact .col	{ float:left; width:455px; }
		#contact .col .title	{ font-size:20px; line-height:30px; }
		#contact .col .bodytext	{ height:100px; line-height:20px; }
			#contact #contact-form input[type="text"]	{ width:286px; height:21px; padding:3px; font-size:12px; }
			#contact #contact-form textarea	{ width:286px; height:64px; padding:3px; font-size:12px; }

#faq	{ width:100%; color:#555555; }
	#faq h2	{ font-family:Arial, helvetia, sans-serif; }
	#faq .col	{ float:left; width:100%; }
		#faq .col .title		{ font-size:20px; line-height:30px; }
		#faq .faq	{ width:300px; float:left; margin-right:20px; margin-bottom:30px; }
			#faq .faq.last-column	{ margin-right:0px; }
			#faq .col .question	{ line-height:20px; }
			#faq .col .answer	{ line-height:20px; color:#8b8b8b; }


#tnc	{ width:100%; color:#555555; }
	#tnc .col	{ float:left; width:100%; }
		#tnc .col .title		{ font-size:20px; line-height:30px; }

#search-results	{ width:100%; min-height:400px; }

#member-header { }
	#member-header .member-menu	{ width:auto; float:left; margin-right:62px; border-bottom:2px solid #fff; font-size:14px; }
		#member-header .member-menu:hover, #member-header .member-menu.active	{ border-bottom:2px solid #b23537; }

#order-history	{ width:100%; min-height:400px; }
		#order-history h2 { font-size:20px; line-height:30px; }
		#order-history #table-history	{ width:100%; }
			#order-history #table-history .row	{  }
			#order-history #table-history .row .col	{ float:left; width:19%; height:30px; border-bottom:1px solid #cccccc; text-align:center; padding-top:18px; line-height:12px; }
			#order-history #table-history .row.fr .col {  border-top:1px solid #cccccc; font-weight:bold; }
			#order-history #table-history .row .col.fc {  border-left:1px solid #cccccc; text-decoration:underline; }
			#order-history #table-history .row.fr .col.fc {  text-decoration:none; }
			#order-history #table-history .row .col.lc {  border-right:1px solid #cccccc; height:40px; padding-top:8px; }
			#order-history #table-history .red-button.inactive	{ opacity:0.5; filter:alpha(opacity=50);  }

#order-confirm	{}
	#order-confirm h1	{ font-family:Arial, helvetica, sans-serif; font-weight:normal; font-size:20px; color:#555454; }
	#order-confirm table#product-list	{ width:100%; color:#555555; }
		#order-confirm table#product-list td { border:1px solid #ccc; padding:17px 20px; vertical-align:top; }
		#order-confirm table#product-list td.title	{ font-size:16px; }
			#order-confirm table#product-list td .image				{ float:left; width:134px; height:126px; margin-right:25px; overflow:hidden; }
			#order-confirm table#product-list td .description	{ float:left; width:345px; text-transform:uppercase; }
	
	#order-confirm #voucher-code, #order-confirm #total	{ border:1px solid #ccc; padding:17px 20px; width:45%; height:170px; }
		#order-confirm #voucher-code	input[name="voucher_code"] { width:136px; height:14px; line-height:12px; font-size:12px; padding:7px 10px 7px 10px; margin-right:20px; }		
		#order-confirm #total	{ text-align: right; }
			#order-confirm #total {}
	
	#order-confirm #footnote	{ float:left; width:740px; color:#555555; font-size:11px; }

#order-confirm-2	{ min-height:400px;}
	#order-confirm-2 td { padding:6px; }
	#order-confirm-2 input[type='text'] { width:316px; height:23px; padding:2px 5px; font-size:12px; border:1px solid #d6d8d9; }
	#order-confirm-2 select { width:auto; height:27px; padding:2px 5px; font-size:12px; border:1px solid #d6d8d9; }
	
	
#order-detail	{}
	#order-detail h1	{ font-family:Arial, helvetica, sans-serif; font-weight:normal; font-size:20px; color:#555454; }
	#order-detail table#product-list	{ width:100%; color:#555555; }
		#order-detail table#product-list td { border:1px solid #ccc; padding:17px 20px; vertical-align:top; }
		#order-detail table#product-list td.title	{ font-size:16px; }
			#order-detail table#product-list td .image				{ float:left; width:134px; height:126px; margin-right:25px; overflow:hidden; }
			#order-detail table#product-list td .description	{ float:left; width:345px; text-transform:uppercase; }
	
	#order-detail #voucher-code, #order-detail #total	{ border:1px solid #ccc; padding:17px 20px; width:45%; height:170px; }
		#order-detail #voucher-code	input[name="voucher_code"] { width:136px; height:14px; line-height:12px; font-size:12px; padding:7px 10px 7px 10px; margin-right:20px; }		
		#order-detail #total	{ text-align: right; }
			#order-detail #total {}
	
	#order-detail #footnote	{ float:left; width:740px; color:#555555; font-size:11px; }

#vouchers	{ min-height:400px; color:#555555; }
	#vouchers h1	{ font-family:Arial, helvetica, sans-serif; font-weight:normal; font-size:20px; }
	#vouchers input[type='text'] { width:136px; height:26px; margin-right:20px; padding:2px 5px; font-size:12px; border:1px solid #d6d8d9; }
	
#personal-information	{ min-height:400px;}
	#personal-information h1	{ font-family:Arial, helvetica, sans-serif; font-weight:normal; font-size:20px; }
	#personal-information td { padding:6px; }
	#personal-information input[type='text'], #personal-information input[type='password'] { width:210px; height:23px; padding:2px 5px; font-size:12px; border:1px solid #d6d8d9; }
	#personal-information select { width:auto; height:27px; padding:2px 5px; font-size:12px; border:1px solid #d6d8d9; }

.errmsg	{ color:#9b0d0d; }